<launch>
    <param name="/use_sim_time" value="True"/>
    <arg name="real_time_factor" default="1"/>
    <arg name="constellation_file" default="/home/roxane/svo_gps_ws/src/svo_volocopter/gps_simulator/config/constellation.yaml"/>
    <arg name="config_path" default="/home/roxane/svo_gps_ws/src/svo_volocopter/gps_simulator/config/reciever_config.yaml"/>

    <node name="gnss_simulator" pkg="satellite_simulator" type="gnss_simulator" output="screen">
        <param name="constellation_file" value="$(arg constellation_file)"/>
        <param name="config_path" value="$(arg config_path)"/>
    </node>

    <node name="publish_mp_nsat" pkg="satellite_simulator" type="Publish_MP_NSat.py" output="screen">
        <param name="config_path" value="$(arg config_path)"/>
    </node>
</launch>