<launch>

  <node pkg="svo_ros" type="svo_node" name="svo" clear_params="true" output="screen" >

    <param name="cam0_topic" value="/hil/image_r" type="str" />
    <param name="imu_topic" value="/kingfisher/agiros_pilot/sensors/clean_imu" type="str" />

    <param name="calib_file" value="/home/roxane/svo_gps_ws/src/svo_volocopter/svo_ros/param/Flightmare/Calibration/fisheye_euros_imu.yaml" />
    <rosparam file="/home/roxane/svo_gps_ws/src/svo_volocopter/svo_ros/param/Flightmare/VIO/VIO_frontend_mono.yaml" />
    
    <param name="gp_topic" value="/kingfisher/agiros_pilot/sensors/gps" type="str" />
    <param name="use_global_measurements" value="true" />
    <param name="gp_settings_file" value="/home/roxane/svo_gps_ws/src/svo_volocopter/svo_ros/param/gp_settings.yaml" />


    <param name="map_scale" value="1" />
    <param name="/use_sim_time" value="True"/>
    <param name="runlc" value="false" />

  </node>

  <node name="vis" pkg="rviz" type="rviz" args=" -d /home/roxane/svo_gps_ws/src/svo_volocopter/svo_ros/rviz_config.rviz" /> 

</launch>
